[submodule "docs/vendor/bundle/ruby/2.7.0/bundler/gems/redshot-bfbe9270ce14"]
  path = docs/vendor/bundle/ruby/2.7.0/bundler/gems/redshot-bfbe9270ce14
  url = https://github.com/justgetwet/redshot.git
  branch = main